.matrixContainer {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #eee;
}

.matrix {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-left: 1px solid;
    border-right: 1px solid;
}

.cell, .cell > input {
    text-align: center;
}

.cell {
    width: 55px;
}
