.inputMatrix {
    display: flex;
    flex-direction: column;
}

.topRow {
    display: flex;
    flex-direction: row;
}

.selector {
    flex: 1;
}

.input {
    flex: 1;
}

.input > input {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
}
