.frameList {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.frameItem {
    display: inline-block;
    white-space: nowrap;
    margin-right: 25px;
}

.frameItem:before {
    content: "\2022";  /* Bullet point */
}
