:root {
    --app-grid-gap: 5px;
}

html, body, body > div /* #app-container */, .app {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
}

.top {
    flex: none;
    margin-bottom: var(--app-grid-gap);
}

.middle {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.left {
    flex: none;
    margin-right: var(--app-grid-gap);
}

.right {
    flex: 1;
    min-width: 300px;
    min-height: 150px;
}
