:root {
    --app-grid-gap: 5px;
}

html, body, :global(#app-container), .app {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
}

.top {
    flex: none;
    margin-bottom: var(--app-grid-gap);
}

.middle {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.options {
    flex: none;
    margin-right: var(--app-grid-gap);
}

.graph {
    flex: 1;
    min-width: 300px;
    min-height: 150px;
}

/* Skinny screens */
@media screen and (orientation: portrait) {
    .middle {
        flex-direction: column;
    }

    .options {
        margin-right: initial;
        margin-bottom: var(--app-grid-gap);
    }
}
